<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mini Symfony{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{asset('assets/style/css/style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('assets/style/css/bootstrap.min.css')}}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>

    <!-- Header -->
    <header>
        <div class="nav-header">
            <nav>
                <ul>
                    <li><a href="{{ asset('') }}">Home</a></li>
                    <li><a href="{{ asset('shop') }}">Shop</a></li>
                    <li><a href="{{ asset('register') }}">register</a></li>
                    <li><a href="{{ asset('article') }}">Article</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main -->
    <main>
        <div class="container-main">
            {% block content %} {% endblock %}
        </div>

    </main>

    <!-- Footer -->
    <div class="container-footer">
        <footer>
            <a href="#!">Newsletter</a>
            <p>&copy; 2022 Thank you for you'r visit !</p>
        </footer>
    </div>

    <!-- JS -->
    {% block javascripts %}{% endblock %}

</body>

</html>